<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "emailService" class="com.runqing.spring.event.EmailService">
   </bean>

    <bean id = "userService" class="com.runqing.spring.event.UserService">
    </bean>
    <bean id = "tuserService" class="com.runqing.spring.aware.TUserService">
    </bean>
</beans>